<article itemscope itemtype="http://schema.org/BlogPosting" class="post">
  <header>
    <h1 itemprop="about"><%= post.title %></h1>
  </header>
  <section>
    <p itemprop="articleBody"><%= post.digest %></p>
  </section>
  <nav>
    <%= link_to t('post.delete.text'), post_path(post), method: :delete, data: { confirm: t('post.delete.confirmation') } %>
  </nav>
  <footer>
    <!-- created date, tags, etc... -->
  </footer>
</article>
