<article itemscope itemtype="http://schema.org/BlogPosting" class="post">
  <header>
    <h1 itemprop="about"><%= post.title %></h1>
  </header>
  <section>
    <%= image_tag post.image.medium.url, class: 'post-image', itemprop: 'thumbnailUrl', size: '200x125' %>
    <p itemprop="articleBody"><%= post.digest %></p>
  </section>
  <div class="clearfix"></div>
  <nav>
    <ul class="post-tags">
    <% post.tags.each do |tag| %>
      <li><%= link_to tag, '#' %></li>
    <% end %>
    </ul>
  </nav>
  <div class="clearfix"></div>
</article>
