<article itemscope itemtype="http://schema.org/BlogPosting" class="post">
  <header>
    <h1 itemprop="about"><%= post.title %></h1>
  </header>
  <section>
    <p itemprop="articleBody"><%= post.digest %></p>
  </section>
  <footer>
    <!-- created date, tags, etc... -->
  </footer>
</article>
