.post-control-links {
  margin: 10px 0;
}

ul.post-tags {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

ul.post-tags li {
  float: right;
  margin: 0 2px;
}

ul.post-tags a {
  padding: 2px 10px;
  background: #5F9EA0;
  border-radius: 10%;
  color: #FFF;
}

.post .post-image {
  margin: 0;
  padding: 0;
  float: right;
  border: 1px solid #999999;
  margin-left: 10px;
  margin-bottom: 0px;
}

.post h1 {
  font-size: 25px;
  font-weight: bolder;
}

.post h1 a {
  color: #DE8508;
  text-decoration: none;
}

.post .date {
  color: #BBB;
  position: relative;
  top: -10px;
}

.post .post-control-links {
  position: relative;
  top: -15px;
}

.pagination-container {
  text-align: center;
}