<% content_for(:title, full_title(t('user.admin.dashboard'))) %>
<fieldset class="admin-dashboard-section-separator">
  <legend>
    <h1><%= t('post.index') %></h1>
    <%= link_to '(مشاهده همه)', posts_path %>
    <div class="clearfix"></div>
  </legend> 
<%= render @posts %>
</fieldset>
